<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>

  <appSettings>
    <clear />
    <add key = "ie.width" value = "1000" />
    <add key = "ie.height" value = "800" />
    <add key = "ie.url" value = "http://moni.51hupai.org/" />
    <add key = "ie.url.51hupai" value = "http://moni.51hupai.org/" />

  </appSettings>

  
  
</configuration>