<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup > 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>


  <appSettings>
    <clear />
    <add key = "ie.width" value = "1000" />
    <add key = "ie.height" value = "800" />
    <add key = "ie.url" value = "http://moni.51hupai.org/" />
    <add key = "ie.url.51hupai" value = "http://moni.51hupai.org/" />
  
    <add key = "postion.start" value = "65,231" />
    <add key = "postion.time" value = "82,224,64,11" />
    <add key = "postion.price" value = "109,240,41,11" />

    <add key = "position.increase.input" value = "645,140" />
    <add key = "position.increase.button" value = "757,140" />
    <add key = "position.submit.input" value = "645,245" />
    <add key = "position.submit.button" value = "757,245" />
    <add key = "position.verification.input" value = "660,220" />
    <add key = "position.verification.refresh" value = "750,220" />
    <add key = "position.confirm.button" value = "520,325" />
    <add key = "position.cancel.button" value = "705,325" />
    <add key = "position.ok.button" value = "620,306" />

    <add key = "position.click.beforeTarget" value = "400" />





  </appSettings>

  
  
</configuration>