<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup > 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>


  <appSettings>
    <clear />
    <add key = "ie.width" value = "1000" />
    <add key = "ie.height" value = "800" />
    <add key = "ie.url" value = "http://moni.51hupai.org/" />
    <add key = "ie.url.51hupai" value = "http://moni.51hupai.org/" />
  
    <add key = "postion.test" value = "65,231,500,500" />
    <add key = "postion.start" value = "65,231" />
    <add key = "postion.time" value = "102,228,64,11" />
    <add key = "postion.price" value = "129,244,41,11" />

    



  </appSettings>

  
  
</configuration>